body { color: #5A5A5A; }

#Container { width: 940px; margin-left: auto; margin-right: auto; }

/*TopArea*/
#TopArea { margin: 8px 0;}
#TopLogo { width: 140px; height: 60px; margin-right: 10px; float: left; }
#TopMenu { width: 560px; height: 60px; margin-right: 10px; float: left; background-color: #EBEBEB; }
#SearchBox { width: 212px; height: 54px; float: left; border: 3px solid #898989; padding-left: 2px; }
#SearchText { width: 150px; height: 52px; border: 0; padding: 0; margin: 0; }
#SearchButton { width: 58px; height: 54px; border: 0; background-color: #898989; }

/*MiddleSection*/
#MiddleSection { margin: 8px 0 0 0; height: 400px; }
#InfoBox { width: 320px; height: 400px; float: left; }
#ImageRotator { width: 620px; height: 400px; float: left; }

/*HeadingArea*/
#HeadingArea {height: 170px; }

/*****Columns*****/

/*ThreeEvenColumns*/

/*****Columns*****/

/*StandardClasses*/
.clear { clear: both; }
.uppercase { text-transform: uppercase; }
.rightaligned { text-align: right; }

